footer {
  color: white;
  text-align: center;
  background-color: #25313C;
  padding-bottom: 3px;
}
.copyright {
  margin-bottom: 9px;
}
.je {
  text-decoration: none;
  color: white;
  margin-right: 8px;
}
.tu {
  text-decoration: none;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.il {
  text-decoration: none;
  color: white;
  margin-left: 8px;
}
