body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 8px;
}
.backtosite {
  background-color: #B0C4DE;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
.central {
  text-align: center;
}
.title {
  font-size: 28px;
  color: #1E90FF;
  text-align: center;
}
.subtitle {
  text-align: center;
  color: #20B2AA;
}
