@import "reset.css";

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.wrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header .logo {
    float: left;
    height: 50px;
    margin-left: 100px;
    margin-top: 20px;
}

header nav ul {
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}

header nav ul li {
    float: left;
    margin-left: 70px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    border: solid 1.5px #fff;
    background-color: rgb(0,0,0,0.5);
    border-radius: 5px;
}

header nav ul li a:hover{
    color: #008ebf;
}


.main-img {
    background-image: url("../img/main-img.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graph-texte img {
    float: right;
    width: 20%;
    height: 600px;
    margin-right: 150px;
}

.graph-texte .text-left {
    float: left;
    margin: 220px 0 0 150px;
}

.graph-texte h2 {
    color: #384141;
    font-size: 3rem;

}

.graph-texte h2 span {
    color: #008ebf;
}

.graph-texte p {
    float: left;
    margin-top: 30px;
    color: #808080;
}

.utile {
    height: 600px;
    background-color: #25313C;
}