@import "reset.css";

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.bg-img {
    background-image: url("../img/main-img.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .logo {
    float: left;
    height: 50px;
    margin: 20px 0 0 100px;
}

header nav ul {
    float: right;
    margin: 40px 7% 0 0;
}

header nav ul li {
    float: left;
    margin-left: 70px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border: solid 1.5px #fff;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
}

header nav ul li a:hover{
    color: #008ebf;
}

.graph-texte {
    height: 600px;
    background-color: #ECF0F1;
}


.graph-texte img {
    float: right;
    width: 20%;
    margin: 155px 150px 0 0;
}

.graph-texte .text-left {
    float: left;
    margin: 185px 0 0 150px;
}

.graph-texte h2 {
    color: #384141;
    font-size: 4vw;
}

.graph-texte h2 span {
    color: #008ebf;
}

.graph-texte p {
    font-size: 1.2vw;
    float: left;
    line-height: 25px;
    margin-top: 30px;
    color: #808080;
}

#fonctionnement {
    height: 600px;
    background-color: #25313C;
}

.ex img {
    margin-top: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
}

.ex {
    float: left;
    width: 33.33333333333333333333%;
    margin-top: 152px;
}

.ex h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
}

.ex p {
    text-align: center;
    margin-top: 50px;
}

.wrap2 {
    width: 1100px;
    margin: 0 auto;
}

#tronbinoscope {
    height: 600px;
    background-color: #ECF0F1;
}

.ava {
    float: left;
    width: 25%;
    margin-top: 125px;
}

.ava img {
    margin-top: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    width: 200px;
}

.ava h4 {
    color: #25313C;
    font-size: 1.8em;
    text-align: center;
}

.ava p {
    color: #25313C;
    text-align: center;
    margin-top: 50px;
}

footer {
    color: white;
    text-align: center;
    background-color: #25313C;
    padding: 20px 0 20px 0;
}

footer p{
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

footer a:hover {
    color: #008ebf;
}

@media screen and (max-width: 1100px){
    .graph-texte h2 {
        font-size: 5.5vw;
    }
    .graph-texte p {
        font-size: 1.8vw;
    }

}